[Unit]
Description=CSP UI service
After=csp.service

[Service]
PIDFile=/run/ui/pid
WorkingDirectory=/opt/dist/backend
ExecStart=/usr/bin/node server.js
ExecStop=/bin/kill -s HUP $MAINPID
Type=simple


[Install]
WantedBy=multi-user.target
